<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basic.css">
    <title>Registrar</title>
</head>

<body>
    <%- include ('../../partials/_navbar') -%>
    <%- include ('../../partials/_error') -%>
    <%- include ('../../partials/_msg') -%>
    <% if (erros.length>0) { %>
    <% for( let i = 0; i < erros.length; i++ ) { %>
    <div class="alert alert-danger"><%= erros[i].texto %></div>
    <% } %>
    <% } %>

    <div class="container mt-4">
        <h2 class="text-white">Lista de locais:</h2>
        <hr>
        <a href="/admin/locais/add"><button class="btn btn-success">Novo Local</button></a>
        <% if (locais.length>0) { %>
        <% locais.forEach(local => { %>
        <div class="card">
            <div class="card-body">
                <h4><%=local.nome%></h4>
                <small><%=local.slug%></small>
                <br>
                <small>Data de criação: <%=local.date%></small><br>
                <a href="/admin/locais/edit/<%=local._id%>"><button class="btn btn-success my-2 my-sm-0">Editar categoria</button></a>
                <form action="/admin/locais/deletar" method="POST">
                    <input type="hidden" name="id" value="<%=local._id%>">
                    <button type="submit" class="btn btn-danger mt-2">Deletar</button>
                </form>

            </div>
        </div>
        <% }) %>
        <% } else{ %>
        <h4 class="text-white">Nenhum local registrado</h4>
        <% } %>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>

</html>