<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basic.css">
    <title>Eventos</title>
</head>

<body>
    <%- include ('../partials/_navbar') -%>
    <%- include ('../partials/_error') -%>
    <%- include ('../partials/_msg') -%>
    <% if (erros.length>0) { %>
    <% for( let i = 0; i < erros.length; i++ ) { %>
    <div class="alert alert-danger"><%= erros[i].texto %></div>
    <% } %>
    <% } %>

    <h2 class="text-white">Lista de Eventos:</h2>
    <hr>
    <a href="/eventos/add"><button class="btn btn-success">Criar Eventos</button></a>
    <a href="/eventos/painel"><button type="button" class="btn btn-success">Meus Eventos</button></a>
    <% if (eventos) { %>
    <div class="row row-cols-1 row-cols-md-2">
        <% eventos.forEach(eventos => { %>
        <div class="col-sm-6">
            <div class="card eventos">
                <div class="card-body eventos bg-primary text-white">
                    <div class="media eventos">
                        <img src="/img/categoria/<%= eventos.categoria.nome %>.png" class="align-self-start mr-3 rounded-circle w-25" alt="...">
                        <div class="media-body">
                            <h4><%= eventos.titulo %></h4>
                            <p>descrição:<%= eventos.descricao %></p>
                            <p>Nome:<%= eventos.nome %></p>
                            <small>Data de criação: <%= eventos.data %></small>
                            <br>
                            <p>Horario: De <%= eventos.inicio %> até <%= eventos.final %></p>
                            <% if (eventos.limeteParticipantes == 0) { %>
                            <p>Eventos aberto</p>
                            <% } else { %>
                            <p>Participantes:<%= eventos.atualParticipantes %>/<%= eventos.limeteParticipantes %></p>
                            
                            <% if (eventos.participantes.indexOf(user.id.toString()) == -1) { %>
                             <form action="/eventos/participar" method="POST">
                                <input type="hidden" name="id" value="<%= eventos._id %>">
                                <button type="submit" class="btn btn-primary mt-2">Participar</button>
                            </form>
                            <% }else{ %>
                                <p class="text-success">Você esta participando desse evento</p>
                            <form action="/eventos/sair" method="POST">
                                <input type="hidden" name="idsair" value="<%= eventos._id %>">
                                <button type="submit" class="btn btn-danger mt-2">Sair</button>
                            </form>
                            <% } %>
                            
                            
                            <% } %>
                            <p>Categoria:<small><%= eventos.categoria.nome %></small></p>
                            <p>Local:<small><%= eventos.local.nome %></small></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <% }) %>
    </div>
    <% } else {%>
    <p>Nenhuma Postagem registrada</p>
    <% } %>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>

</html>